name: Coverage Upload
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build:
    name: Coverage Upload
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Abhängigkeiten laden
        run: npm ci

      - name: Tests ausführen
        run: npm run test-with-coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
